@import "style.css";

body {
	background : #222;
}

article {
	color: #888;
}

.HQw5pEgNGCNYvT5ftfKY0 a {
	color: #888;
}

._2yUz99mD2E_OPTHXyTLJqq,
._3ZFRODuXQ-0tzOcBMVEW_O {
	color: #888;
	background: #222;
}

._3ZFRODuXQ-0tzOcBMVEW_O 
._2yUz99mD2E_OPTHCyTLJqq a {
	margin-left: 2em;
}

._3JBwAZ1FGoxBd_tUw0cUL2 a {
	margin-left: 2em;
}
